.conclusion {
  font-family: $arial;
  font-size: 16px;
  line-height: 24px;

  padding-top: 50px;
  padding-bottom: 57px;

  h2 {
    @include header;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .conclusion {
    padding-top: 30px;
    padding-bottom: 27px;
    font-size: 14px;
    line-height: 18px;

    h2 {
      @include header-mobile;
      margin-bottom: 15px;
    }
  }
}
